In [8]:
import pandas as pd

In [3]:
cities = pd.read_csv("cities_world.csv")

In [4]:
cities.head()

   Country                City
0  Andorra    Andorra la Vella
1  Andorra             Canillo
2  Andorra              Encamp
3  Andorra  Escaldes-Engordany
4  Andorra               Escas

In [9]:
cities["country_city"] = cities["City"] + ", " + cities["Country"]

In [10]:
len((cities))

112048

In [6]:
cities.head()

   Country                City                 country_city
0  Andorra    Andorra la Vella    Andorra la Vella, Andorra
1  Andorra             Canillo             Canillo, Andorra
2  Andorra              Encamp              Encamp, Andorra
3  Andorra  Escaldes-Engordany  Escaldes-Engordany, Andorra
4  Andorra               Escas               Escas, Andorra

In [7]:
cities.to_csv("cities_world.csv", index=False)

In [1]:
freight_columns = [
    "request_id", "time", "commercial", "service", "client", "client_reference","incoterm", "transport_type", "modality", "routes_info", "pickup_address", "zip_code_origin", "delivery_address", "zip_code_destination", 
    "commodity", "hs_code", "cargo_value", "weight", "destination_cost", 
    "type_container", "info_flatrack", "reinforced", "food_grade", "isotank", "flexitank", "imo_cargo", "imo_type", "un_code", "positioning", "pickup_city", "lcl_fcl_mode", "drayage_reefer", "reefer_cont_type", "pickup_thermo_king", "temperature", "temperature_control ",
    "info_pallets_str", "lcl_description", "stackable",
    "final_comments"
]

transport_columns = [
    "request_id", "time", "commercial", "service", "client", "client_reference", "country_origin", "city_origin", "pickup_address", "zip_code_origin", "country_destination", "city_destination", "delivery_address", "zip_code_destination", "commodity", "hs_code",
    "imo_cargo", "imo_type", "un_code", "ground_service", "temperature", "cargo_value",
    "info_pallets_str", "lcl_description", "stackable",
    "final_comments"
]

customs_columns = [
    "request_id", "time", "commercial", "service", "client", "client_reference","country_origin", "country_destination", "commodity", "hs_code", "imo_cargo", "imo_type", "un_code", "cargo_value",
    "info_pallets_str", "final_comments"
]

all_quotes_columns = list(set(freight_columns + transport_columns + customs_columns))
print(all_quotes_columns)

['temperature', 'client', 'weight', 'request_id', 'lcl_description', 'reinforced', 'flexitank', 'pickup_city', 'commodity', 'isotank', 'info_flatrack', 'imo_cargo', 'commercial', 'hs_code', 'drayage_reefer', 'delivery_address', 'stackable', 'final_comments', 'country_origin', 'city_origin', 'lcl_fcl_mode', 'modality', 'pickup_address', 'time', 'temperature_control ', 'incoterm', 'ground_service', 'un_code', 'positioning', 'service', 'city_destination', 'food_grade', 'zip_code_destination', 'info_pallets_str', 'destination_cost', 'imo_type', 'pickup_thermo_king', 'routes_info', 'transport_type', 'client_reference', 'cargo_value', 'reefer_cont_type', 'zip_code_origin', 'type_container', 'country_destination']