In [30]:
import pandas as pd

In [3]:
cities = pd.read_csv("cities_world.csv")

In [4]:
cities.head()

   Country                City
0  Andorra    Andorra la Vella
1  Andorra             Canillo
2  Andorra              Encamp
3  Andorra  Escaldes-Engordany
4  Andorra               Escas

In [9]:
cities["country_city"] = cities["City"] + ", " + cities["Country"]

In [10]:
len((cities))

112048

In [6]:
cities.head()

   Country                City                 country_city
0  Andorra    Andorra la Vella    Andorra la Vella, Andorra
1  Andorra             Canillo             Canillo, Andorra
2  Andorra              Encamp              Encamp, Andorra
3  Andorra  Escaldes-Engordany  Escaldes-Engordany, Andorra
4  Andorra               Escas               Escas, Andorra

In [7]:
cities.to_csv("cities_world.csv", index=False)

In [1]:
freight_columns = [
    "request_id", "time", "commercial", "service", "client", "client_reference","incoterm", "transport_type", "modality", "routes_info", "pickup_address", "zip_code_origin", "delivery_address", "zip_code_destination", 
    "commodity", "hs_code", "cargo_value", "weight", "destination_cost", 
    "type_container", "info_flatrack", "reinforced", "food_grade", "isotank", "flexitank", "imo_cargo", "imo_type", "un_code", "positioning", "pickup_city", "lcl_fcl_mode", "drayage_reefer", "reefer_cont_type", "pickup_thermo_king", "temperature", "temperature_control ",
    "info_pallets_str", "lcl_description", "stackable",
    "final_comments"
]

transport_columns = [
    "request_id", "time", "commercial", "service", "client", "client_reference", "country_origin", "city_origin", "pickup_address", "zip_code_origin", "country_destination", "city_destination", "delivery_address", "zip_code_destination", "commodity", "hs_code",
    "imo_cargo", "imo_type", "un_code", "ground_service", "temperature", "cargo_value",
    "info_pallets_str", "lcl_description", "stackable",
    "final_comments"
]

customs_columns = [
    "request_id", "time", "commercial", "service", "client", "client_reference","country_origin", "country_destination", "commodity", "hs_code", "imo_cargo", "imo_type", "un_code", "cargo_value",
    "info_pallets_str", "final_comments"
]

all_quotes_columns = list(set(freight_columns + transport_columns + customs_columns))
print(all_quotes_columns)

['temperature', 'client', 'weight', 'request_id', 'lcl_description', 'reinforced', 'flexitank', 'pickup_city', 'commodity', 'isotank', 'info_flatrack', 'imo_cargo', 'commercial', 'hs_code', 'drayage_reefer', 'delivery_address', 'stackable', 'final_comments', 'country_origin', 'city_origin', 'lcl_fcl_mode', 'modality', 'pickup_address', 'time', 'temperature_control ', 'incoterm', 'ground_service', 'un_code', 'positioning', 'service', 'city_destination', 'food_grade', 'zip_code_destination', 'info_pallets_str', 'destination_cost', 'imo_type', 'pickup_thermo_king', 'routes_info', 'transport_type', 'client_reference', 'cargo_value', 'reefer_cont_type', 'zip_code_origin', 'type_container', 'country_destination']

In [59]:
cust = pd.read_excel('Customers.xls', engine='xlrd')
cust.head()

,Name,Company name,Street Address,City,State,Country,Zip,Phone,Email
0,360 LOGISICTS GROUP LIMITED,360 LOGISICTS GROUP LIMITED,"LEVEL 6, IBM BUILDING, 25 VICTORIA STREET, PET...",NaN,NaN,NaN,NaN,+64 4 568 1124,rashmip@360lg.co.nz
1,A&S ALUMINUM SUPPLY INC,A&S ALUMINUM SUPPLY INC,"595 W 18TH STREET, 33010, HIALEAH, FLORIDA, USA",NaN,NaN,NaN,NaN,NaN,mdaguilera@asaluminum.com
2,"ABINGTON RELDAN METALS, LLC.","ABINGTON RELDAN METALS, LLC.","550 OLD BORDENTOWN ROAD\n\nFAIRLESS HILLS, PA ...",NaN,NaN,NaN,NaN,12673162000,jsun@armetals.com
3,"ABSORBENTES DE CENTROAMERICA, SOCIEDAD ANONIMA","ABSORBENTES DE CENTROAMERICA, SOCIEDAD ANONIMA",GUATEMALA Zona: 12 Grupo habitacional: COLONIA...,NaN,NaN,NaN,NaN,66100700,CONTABILIDAD@ABSORBEN.COM
4,"ABSORTEX, SOCIEDAD ANONIMA","ABSORTEX, SOCIEDAD ANONIMA","BOULEVARD LOS PROCERES TORRE 2 OFIC. 609, EDIF...",NaN,NaN,NaN,NaN,22617414,VICTOR.GARCIA@ABSORBENTESMAYA.COM

In [65]:
c_nac = pd.read_excel("INFORMACION FACTURACION COLOMBIA 2024.xlsx")
c_nac.head()

,Identificación,Nombre tercero,Correo electronico,Pais
0,20522701748184,FEED COMPANY MACHINERY S.A.,fanfud@gmail.com,COLOMBIA
1,37810668,MYRIAM ROJAS,shoesdolcevita@gmail.com,COLOMBIA
2,444444011,JL METALS PLASTIC TRADING INC,joseph@jlmetalstradingco.com,COLOMBIA
3,444444012,FERMETAL DOMINICANA,herminia.perez@fermetal.com.co,COLOMBIA
4,444444025,ROYCE CORPORATION,SSL_Mailbox@roycecorporation.com / kgrimaldi@r...,COLOMBIA

In [75]:
cli_1 = cust[["Name", "Email", "Country"]]
cli_1 = cli_1.rename(columns={"Name": "Cliente", "Country":"Pais"})
cli_1["Pais"] = "USA"
cli_1.head()

,Cliente,Email,Pais
0,360 LOGISICTS GROUP LIMITED,rashmip@360lg.co.nz,USA
1,A&S ALUMINUM SUPPLY INC,mdaguilera@asaluminum.com,USA
2,"ABINGTON RELDAN METALS, LLC.",jsun@armetals.com,USA
3,"ABSORBENTES DE CENTROAMERICA, SOCIEDAD ANONIMA",CONTABILIDAD@ABSORBEN.COM,USA
4,"ABSORTEX, SOCIEDAD ANONIMA",VICTOR.GARCIA@ABSORBENTESMAYA.COM,USA

In [76]:
cli_2 = c_nac[["Nombre tercero", "Correo electronico", "Identificación", "Pais"]]
cli_2 = cli_2.rename(columns={"Nombre tercero": "Cliente", "Correo electronico": "Email"})
cli_2.head()

,Cliente,Email,Identificación,Pais
0,FEED COMPANY MACHINERY S.A.,fanfud@gmail.com,20522701748184,COLOMBIA
1,MYRIAM ROJAS,shoesdolcevita@gmail.com,37810668,COLOMBIA
2,JL METALS PLASTIC TRADING INC,joseph@jlmetalstradingco.com,444444011,COLOMBIA
3,FERMETAL DOMINICANA,herminia.perez@fermetal.com.co,444444012,COLOMBIA
4,ROYCE CORPORATION,SSL_Mailbox@roycecorporation.com / kgrimaldi@r...,444444025,COLOMBIA

In [77]:
clientes = pd.concat([cli_1, cli_2], axis=0, ignore_index=True)
clientes.head()

,Cliente,Email,Pais,Identificación
0,360 LOGISICTS GROUP LIMITED,rashmip@360lg.co.nz,USA,NaN
1,A&S ALUMINUM SUPPLY INC,mdaguilera@asaluminum.com,USA,NaN
2,"ABINGTON RELDAN METALS, LLC.",jsun@armetals.com,USA,NaN
3,"ABSORBENTES DE CENTROAMERICA, SOCIEDAD ANONIMA",CONTABILIDAD@ABSORBEN.COM,USA,NaN
4,"ABSORTEX, SOCIEDAD ANONIMA",VICTOR.GARCIA@ABSORBENTESMAYA.COM,USA,NaN

In [78]:
clientes.to_excel('clientes_jaunfe.xlsx', index=False)

In [25]:
cities = pd.read_csv('cities_world.csv')
cities.head()

   Country                City                 country_city
0  Andorra    Andorra la Vella    Andorra la Vella, Andorra
1  Andorra             Canillo             Canillo, Andorra
2  Andorra              Encamp              Encamp, Andorra
3  Andorra  Escaldes-Engordany  Escaldes-Engordany, Andorra
4  Andorra               Escas               Escas, Andorra

In [26]:
states_codes = pd.read_excel('states_codes.xlsx')
states_codes.head()

        state code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [27]:
cities_usa = pd.read_excel('city_names.xlsx')
cities_usa.head()

  State Name       City Name
0    ALABAMA       ABBEVILLE
1    ALABAMA       ALABASTER
2    ALABAMA     ALBERTVILLE
3    ALABAMA  ALEXANDER CITY
4    ALABAMA      ALICEVILLE

In [28]:
# Normalizar nombres de estados y ciudades en todas las tablas
cities_usa["State Name"] = cities_usa["State Name"].str.title()
cities_usa["City Name"] = cities_usa["City Name"].str.title()

states_codes["state"] = states_codes["state"].str.title()

cities["City"] = cities["City"].str.title()
cities["Country"] = cities["Country"].str.title()

# Hacer merge entre cities_usa y states_codes para agregar códigos de estado
cities_usa = cities_usa.merge(states_codes, left_on="State Name", right_on="state", how="left")

# Unir cities con cities_usa para agregar los códigos de estado
cities = cities.merge(cities_usa[["City Name", "code"]], left_on="City", right_on="City Name", how="left")

# Eliminar columna duplicada "City Name"
cities.drop(columns=["City Name"], inplace=True)

# Verificar cuántas ciudades quedaron con código NaN
missing_codes = cities[cities["code"].isna()]

In [29]:
cities.head()

   Country                City                 country_city code
0  Andorra    Andorra La Vella    Andorra la Vella, Andorra  NaN
1  Andorra             Canillo             Canillo, Andorra  NaN
2  Andorra              Encamp              Encamp, Andorra  NaN
3  Andorra  Escaldes-Engordany  Escaldes-Engordany, Andorra  NaN
4  Andorra               Escas               Escas, Andorra  NaN

In [43]:
cities = pd.read_csv("cities_world.csv")
cities.head()

   Country                City                 country_city
0  Andorra    Andorra la Vella    Andorra la Vella, Andorra
1  Andorra             Canillo             Canillo, Andorra
2  Andorra              Encamp              Encamp, Andorra
3  Andorra  Escaldes-Engordany  Escaldes-Engordany, Andorra
4  Andorra               Escas               Escas, Andorra

In [45]:
cities["Country"] = cities["Country"].replace("United states", "United States")
cities.head()

   Country                City                 country_city
0  Andorra    Andorra la Vella    Andorra la Vella, Andorra
1  Andorra             Canillo             Canillo, Andorra
2  Andorra              Encamp              Encamp, Andorra
3  Andorra  Escaldes-Engordany  Escaldes-Engordany, Andorra
4  Andorra               Escas               Escas, Andorra

In [48]:
cities.to_csv('cities_world.csv')