In [1]:
import pandas as pd

In [3]:
cities = pd.read_csv("cities_world.csv")

In [4]:
cities.head()

   Country                City
0  Andorra    Andorra la Vella
1  Andorra             Canillo
2  Andorra              Encamp
3  Andorra  Escaldes-Engordany
4  Andorra               Escas

In [5]:
cities["country_city"] = cities["City"] + ", " + cities["Country"]

In [6]:
cities.head()

   Country                City                 country_city
0  Andorra    Andorra la Vella    Andorra la Vella, Andorra
1  Andorra             Canillo             Canillo, Andorra
2  Andorra              Encamp              Encamp, Andorra
3  Andorra  Escaldes-Engordany  Escaldes-Engordany, Andorra
4  Andorra               Escas               Escas, Andorra

In [7]:
cities.to_csv("cities_world.csv", index=False)