In [2]:
import pandas as pd

In [3]:
puertos = pd.read_csv('output_port_world.csv')
ciudades = pd.read_csv('output_cities_world.csv')

In [4]:
puertos.head()

  port code           port name  country
0     ADALV    Andorra la Vella  Andorra
1     ADCAN             Canillo  Andorra
2     ADENC              Encamp  Andorra
3     ADESC  Escaldes-Engordany  Andorra
4     ADFMO   La Farga de Moles  Andorra

In [5]:
puertos["port_country"] = puertos["port name"] + ", " + puertos["country"]
puertos.head()

  port code           port name  country                 port_country
0     ADALV    Andorra la Vella  Andorra    Andorra la Vella, Andorra
1     ADCAN             Canillo  Andorra             Canillo, Andorra
2     ADENC              Encamp  Andorra              Encamp, Andorra
3     ADESC  Escaldes-Engordany  Andorra  Escaldes-Engordany, Andorra
4     ADFMO   La Farga de Moles  Andorra   La Farga de Moles, Andorra

In [6]:
puertos = puertos.drop(columns=["port code", "port name", "country"])

In [7]:
ciudades.head()

   Country Country Code                City CityCode
0  ANDORRA           AD    Andorra la Vella    ADALV
1  ANDORRA           AD             Canillo    ADCAN
2  ANDORRA           AD              Encamp    ADENC
3  ANDORRA           AD  Escaldes-Engordany    ADESC
4  ANDORRA           AD               Escas    ADEAC

In [8]:
ciudades['Country'] = ciudades['Country'].str.capitalize()

In [10]:
ciudades = ciudades.drop(columns=["Country Code", "CityCode"])

In [11]:
ciudades.head()

   Country                City
0  Andorra    Andorra la Vella
1  Andorra             Canillo
2  Andorra              Encamp
3  Andorra  Escaldes-Engordany
4  Andorra               Escas

In [12]:
puertos.to_csv("ports_world.csv", index=False)
ciudades.to_csv("cities_world.csv", index=False)

In [2]:
import requests
import pandas as pd
from io import StringIO

def extract_json_to_csv_and_excel_optimized(url, csv_file, excel_file):
    """
    Fetches JSON data from a URL and saves it to CSV and Excel files efficiently.

    Args:
        url (str): URL of the JSON data.
        csv_file (str): Path to save the CSV file.
        excel_file (str): Path to save the Excel file.
    """
    try:
        response = requests.get(url)
        response.raise_for_status() 

        content = response.content.decode('utf-8-sig') 
        data = pd.read_json(StringIO(content)) 

        data.to_csv(csv_file, index=False, encoding='utf-8')
        print(f"Data successfully saved to {csv_file}")

        with pd.ExcelWriter(excel_file, engine='openpyxl') as writer:
            safe_sheet_name = "Data" 
            data.to_excel(writer, index=False, sheet_name=safe_sheet_name)
        print(f"Data successfully saved to {excel_file}")

    except Exception as e:
        print(f"An error occurred: {e}")

In [6]:
csv_file = "aeropuertos.csv"
excel_file = "aeropuertos.xlsx"
url = "https://freightanchor.com/assets/json/airports-codes.json?_=1737753629050"

extract_json_to_csv_and_excel_optimized(url, csv_file, excel_file)

Data successfully saved to aeropuertos.csv
Data successfully saved to aeropuertos.xlsx

In [7]:
df = pd.read_csv('aeropuertos.csv')

In [8]:
df

            city      country port code
0        Aalborg      Denmark       AAL
1       Aalesund       Norway       AES
2         Aarhus      Denmark       AAR
3     Abbotsford           BC    Canada
4     Abbotsford          BC    Canada
...          ...          ...       ...
1574    Zanzibar     Tanzania       ZNZ
1575    Zaragoza        Spain       ZAZ
1576   Zhengzhou        China       CGO
1577    Zhoushan        China       HSN
1578      Zurich  Switzerland       ZRH

[1579 rows x 3 columns]